{# templates/emails/resetPassword.html.twig #}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block titre %}Snow Tricks{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('build/assets_styles_app_scss.css') }}">
        <script src="https://kit.fontawesome.com/a4ca8720ca.js" crossorigin="anonymous"></script>
    {% endblock %}
    <link rel="icon" type="image/png" href="{{ asset('build/images/favicon.ico') }}"/>
</head>
<body>
<h1>Welcome {{ email.toName }}!</h1>

<p>
    You signed up as {{ username }} the following email:
</p>
<p><code>{{ email.to[0].address }}</code></p>

<p>
    <a href="#">Click here to activate your account</a>
    (this link is valid until {{ expiration_date|date('F jS') }})
</p>
</body>
</html>
