{% extends 'layout.html.twig' %}
{% block header %}
    {% include 'headerHome.html.twig' %}
{% endblock %}
{% block main %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    <main>
        <section class="intro" style="background-image: url({{ asset('build/images/surfeur.jpg') }})">
            <div>
                <p>
                    {{ 'home.intro'|trans }}
                </p>
            </div>
            <div class="scroll-arrow-down" id="scroll-down">
                <a href="#expand">
                    <i class="fa-solid fa-arrow-down"></i>
                </a>
            </div>
        </section>
        {% if is_granted('ROLE_USER') %}
            <section>
                <div class="d-flex justify-content-center my-5">
                    <a href="{{ path('add_trick') }}" class="btn btn-primary">
                        Add a new Trick
                    </a>
                </div>
            </section>
        {% endif %}
        <section id="portfolio">
            {% include 'trick/tricks.html.twig'with {'tricks': tricks} %}
        </section>
        <div id="expand" class="d-flex">
            <div id="expand" class="d-flex">
                {% if tricks.currentPageNumber < maxPage %}
                        <button id="load-more" data-current-page="{{ tricks.currentPageNumber + 1 }}"
                                data-max-page="{{ maxPage }}"> Plus de figure
                        </button>
                {% endif %}
            </div>
        </div>
        <div class="scroll-arrow-up" id="scroll-up">
            <a href="#portfolio">
                <i class="fa-solid fa-arrow-up"></i>
            </a>
        </div>
    </main>
    {% include 'navbar-mobile.html.twig' %}
    {{ encore_entry_script_tags('paginateHome') }}
{% endblock %}
