{% extends 'layout.html.twig' %}
{% block header %}
    <header>
        <div id="header">
            <div class="header-picture">
                <img src="{{ asset('build/images/logo.png') }}" alt="surfer">
            </div>
            <div class="navbar">
                {% if not is_granted('ROLE_USER') %}
                    <ul>
                        <li><a href="{{ path('home') }}">Home</a></li>
                        <li><a href="#portfolio">Trick</a></li>
                        <li><a href="{{ path('registration') }}">Sign in</a></li>
                        <li><a href="{{ path('security_login') }}">Sign up</a></li>
                    </ul>
                {% else %}
                    <ul>
                        <li><a href="{{ path('home') }}">Home</a></li>
                        <li><a href="#portfolio">Trick</a></li>
                        <li><a href="{{ path('profile') }}">Profile</a></li>
                        <li><a href="{{ path('security_logout') }}">Log out</a></li>
                    </ul>
                {% endif %}
            </div>
        </div>
    </header>
{% endblock %}
{% block main %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    <main>
        <section class="intro" style="background-image: url({{ asset('build/images/surfeur.jpg') }})">
            <div>
                <p>
                    Rejoignez la communauté Snow tricks la plus cool sur la neige et partagez votre passion pour le snow
                    avec des riders du monde entier !
                </p>
            </div>
            <div class="scroll-arrow-down" id="scroll-down">
                <a href="#expand">
                    <i class="fa-solid fa-arrow-down"></i>
                </a>
            </div>
        </section>
        {% if is_granted('ROLE_USER') %}
            <section>
                <div>
                    <button class="btn btn-primary">
                        <a href="{{ path('add_trick') }}">
                            Add a new Trick
                        </a>
                    </button>
                </div>
            </section>
        {% endif %}
        <section id="portfolio">
            {% for trick in tricks %}
                <div class="card">
                    <div class="card-image">
                        <a href="{{ path('single_trick', {'slug': trick.slug }) }}">
                            <img src="{{ asset('build/images/50_50_Grinds.51e6a335.png') }}" alt="figure de snowboard">
                        </a>
                    </div>
                    <div class="card-content">
                        <div class="card-header">
                            <h4>{{ trick.title }}</h4>
                        </div>
                        {% if is_granted('ROLE_USER') and app.user == trick.author %}
                            <div class="card-icons">
                            <span class="icon"><a href="/update_tricks/{{ trick.id }}"><i
                                            class="fa-solid fa-pencil"></i></a></span>
                            </div>
                            <div class="card-icons">
                            <span class="icon"><a href="/update_tricks/{{ trick.id }}"><i
                                            class="fa-solid fa-trash-can"></i></a></span>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </section>
        <div id="expand">
            <div>
                <p><i class="fa-solid fa-spinner"></i></p>
            </div>
            <div>
                <p>Load more</p>
            </div>
        </div>
        <div class="scroll-arrow-up" id="scroll-up">
            <a href="#portfolio">
                <i class="fa-solid fa-arrow-up"></i>
            </a>
        </div>
        <div class="navbar-mobile">
            <ul>
                <li><a href="{{ path('home') }}"><i class="fa-solid fa-house"></i></a></li>
                <li><a href="/single_trick{id}"><i class="fa-solid fa-bookmark"></i></a></li>
                {% if not is_granted('ROLE_USER') %}
                    <li><a href="{{ path('security_login') }}"><i class="fa-solid fa-user"></i></a></li>
                {% else %}
                    <li><i class="fa-solid fa-right-from-bracket"></i></li>
                {% endif %}
            </ul>
        </div>
    </main>
    {% block javascripts %}{% endblock %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
{# TODO faire une pagination sur load more des tricks en php #}