<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block titre %}Snow Tricks{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a4ca8720ca.js" crossorigin="anonymous"></script>
    <link rel="icon" type="image/png" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
{# TODO: changer le signup par log out si l'user est connecté #}
{% block header %}
    <header>
        <div id="header">
            <div class="header-picture">
                <img src="{{ asset('build/images/logo.png') }}" alt="surfer">
            </div>
            <div class="navbar">
                {% if not is_granted('ROLE_USER') %}
                    <ul>
                        <li><a href="{{ path('home') }}">Home</a></li>
                        <li><a href="#portfolio">Trick</a></li>
                        <li><a href="{{ path('registration') }}">Sign in</a></li>
                        <li><a href="{{ path('security_login') }}">Sign up</a></li>
                    </ul>
                {% else %}
                    <ul>
                        <li><a href="{{ path('home') }}">Home</a></li>
                        <li><a href="#portfolio">Trick</a></li>
                        <li><a href="{{ path('profile') }}">Profile</a></li>
                        <li><a href="{{ path('security_logout') }}">Log out</a></li>
                    </ul>
                {% endif %}
            </div>
        </div>
    </header>
{% endblock %}
{% block main %}
{% endblock %}
{% block footer %}
    <div>
        <p>Copyright @ Pierre Fayet</p>
    </div>
{% endblock %}
</body>
</html>
