<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block titre %}Snow Tricks{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    <script src="https://kit.fontawesome.com/a4ca8720ca.js" crossorigin="anonymous"></script>
    <link rel="icon" type="image/png" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
{% block header %}
    <header>
        <div id="header">
            <div class="header-picture">
                <img src="{{ asset('build/images/logo.jpg') }}" alt="surfer">
            </div>
            <div class="navbar">
                {% if not is_granted('ROLE_USER') %}
                    <ul>
                        <li><a href="{{ path('home') }}">Accueil</a></li>
                        <li><a href="{{ path('registration') }}">Inscription</a></li>
                        <li><a href="{{ path('security_login') }}">Connection</a></li>
                    </ul>
                {% else %}
                    <ul>
                        <li>Bienvenue {{ app.user.username }} !</li>
                        <li><a href="{{ path('home') }}">Home</a></li>
                        <li><a href="{{ path('profile') }}">Profil</a></li>
                        <li><a href="{{ path('security_logout') }}">Déconnection</a></li>
                    </ul>
                {% endif %}
            </div>
        </div>
    </header>
{% endblock %}
{% block main %}
{% endblock %}
{% block footer %}
    <footer>
        <div>
            <p>Copyright @ Pierre Fayet</p>
        </div>
    </footer>
{% endblock %}
{{ encore_entry_script_tags('app') }}
</body>
</html>
