{% extends 'layout.html.twig' %}
{% block main %}
    <main class="connection">
        <div class="connection-title">
            <div class="connection-title-content">
                Login
            </div>
        </div>
        <section class="connection-form">
            {{ form_start(connection, {'attr': {'class': 'connection-content'}}) }}
            <div id="user_name">
                {{ form_row(connection.user_name, {'attr': {'id': 'Username'}}) }}
            </div>
            <div id="user_password">
                {{ form_row(connection.password, {'attr': {'id': 'userPassword'}}) }}
            </div>
            <div class="button">
                <button type="submit">Login</button>
            </div>
            {{ form_rest(connection) }}
            <div class="link-registration"><a href="/create_account">Register</a></div>
            <div class="link-reset"><a href="/forgot_password">Forgot Password ?</a></div>
            {{ form_end(connection) }}
        </section>
    </main>
    <div class="navbar-mobile">
        <ul>
            <li><a href="/"><i class="fa-solid fa-house"></i></a></li>
            <li><a href="/single_trick"><i class="fa-solid fa-bookmark"></i></a></li>
            <li><a href="/login"><i class="fa-solid fa-user"></i></a></li>
           {#  {% if connected %}
            <li><i class="fa-solid fa-right-from-bracket"></i></li>
            {% endif %}#}
        </ul>
    </div>
{% endblock %}
