{% extends 'layout.html.twig' %}
{% block main %}
    <main class="connection-reset">
        <div class="connection-title">
            <div class="connection-title-content">
                Reset password
            </div>
        </div>
        <section class="connection-form">
            {{ form_start(resetPassword, {'attr': {'class': 'connection-content'}}) }}
            <div id="user_name">
                {{ form_row(resetPassword.userName, {'attr': {'id': 'Username'}}) }}
            </div>
            <div id="user_password">
                {{ form_row(resetPassword.password, {'attr': {'id': 'userPassword'}}) }}
            </div>
            <div class="button-reset">
                <button type="submit">Reset</button>
            </div>
            {{ form_rest(resetPassword) }}
            {{ form_end(resetPassword) }}
        </section>
    </main>
    {% include 'navbar-mobile.html.twig' %}
{% endblock %}
