{% extends 'layout.html.twig' %}
{% block main %}
    <main class="connection-reset">
        <div class="connection-title">
            <div class="connection-title-content">
                Reset password
            </div>
        </div>
        <section class="connection-form">
            {{ form_start(resetPassword, {'attr': {'class': 'connection-content'}}) }}
            <div id="user_name">
                {{ form_row(resetPassword.userName, {'attr': {'id': 'Username'}}) }}
            </div>
            <div id="user_password">
                {{ form_row(resetPassword.password, {'attr': {'id': 'userPassword'}}) }}
            </div>
            <div class="button-reset">
                <button type="submit">Reset</button>
            </div>
            {{ form_rest(resetPassword) }}
            {{ form_end(resetPassword) }}
        </section>
    </main>
    <div class="navbar-mobile">
        <ul>
            <li><a href="{{ path('home') }}"><i class="fa-solid fa-house"></i></a></li>
            <li><a href="/single_trick"><i class="fa-solid fa-bookmark"></i></a></li>
            <li><a href="{{ path('security_login') }}"><i class="fa-solid fa-user"></i></a></li>
            <li><i class="fa-solid fa-right-from-bracket"></i></li>
        </ul>
    </div>
{% endblock %}
