{% extends 'layout.html.twig' %}
{% block main %}
    <main>
        <section class="intro-background">
            <div class="intro-trick" style="background-image: url({{ asset('build/images/surfeur.jpg') }});"></div>
        </section>
        <section class="content">
            <div id="content-trick">
                <div class="content-header"
                     style="background-image: url({{ asset('build/images/50_50_Grinds.51e6a335.png') }});">
                    <div class="content-trick-image-title">
                        <h1>
                            {{ trick.title }}
                        </h1>
                    </div>
                    <div class="content-trick-image--icon">
                        <div id="pencil"><a href="/update_tricks/{{ trick.id }}"><i class="fa-solid fa-pencil"></i></a>
                        </div>
                        <div id="trash-can"><a href="/delete_trick/{{ trick.id }}"><i class="fa-solid fa-trash-can"></i></a>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="content-media-tricks">
                        {% set image_count = 0 %}
                        {% set video_count = 0 %}
                        {% for media in trick.medias %}
                            {% if media.type == 'image' and image_count < 3 %}
                                {% set image_count = image_count + 1 %}
                                <img src="{{ asset('build/images/' ~ media.filename) }}" alt="{{ media.alt }}">
                            {% elseif media.type == 'video' and video_count < 2 %}
                                <video controls>
                                    <source src="{{ asset('build/media/' ~ media.filename) }}"
                                            type="video/mp4">
                                    Votre navigateur ne prend pas en charge la balise vidéo.
                                </video>
                                {% set image_count = image_count + 1 %}
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="media-expand">
                        <div class="media-expand-content">See medias</div>
                    </div>
                    <div class="content-description">
                        <p>
                            {{ trick.content }}
                        </p>
                    </div>
                    <div class="content-information">
                        {% set tag_count = 4 %}
                        {% for tag in trick.tags %}
                            <div class="content-information-item">{{ tag.name }}</div>
                            {% set tag_count = tag_count + 1 %}
                        {% endfor %}
                    </div>
                    <div class="content-form">
                        <div class="content-form--content">
                            {{ form_start(commentForm, {'action': path('add_comment', {'id': trick.id}), 'method': 'POST'}) }}
                            {{ form_row(commentForm.content, {'label':false}) }}
                            <div class="form-error">
                                {{ form_errors(commentForm.content) }}
                            </div>
                            {{ form_row(commentForm.submit) }}
                            {{ form_errors(commentForm) }}
                            {{ form_rest(commentForm) }}
                            {{ form_end(commentForm) }}
                        </div>
                    </div>
                    <div class="content-comment-container">
                        <div class="content-comment">
                            {% for comment in comments %}
                                <div class="content-comment-items">
                                    <div class="content-comment--icon">
                                        <i class="fa-solid fa-user"></i>
                                    </div>
                                    <div class="content-comment--content">
                                        <p>{{ comment.content }}</p>
                                        <p>{{ comment.creationDate|date('d/m/Y') }}</p>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="container-expand">
                            <div id="expand">
                                <div>
                                    <p><i class="fa-solid fa-spinner"></i></p>
                                </div>
                                <div>
                                    <p>Load more</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <div class="navbar-mobile">
        <ul>
            <li><a href="/"><i class="fa-solid fa-house"></i></a></li>
            <li><a href="/single_trick"><i class="fa-solid fa-bookmark"></i></a></li>
            <li><a href="/login"><i class="fa-solid fa-user"></i></a></li>
            <!-- <li><i class="fa-solid fa-right-from-bracket"></i></li> -->
        </ul>
    </div>
{% endblock %}
