{% extends 'layout.html.twig' %}
{% block main %}
    <main>
        <div id="trickId" class="d-none" data-trickId="{{ trick.id }}"></div>
        <section class="intro-background d-none d-sm-block">
            <div class="intro-trick " style="background-image: url({{ asset('build/images/surfeur.jpg') }});"></div>
        </section>
        <section class="content">
            <div id="content-trick" class="content-trick-container">
                <div class="content-header"
                        {% if trick.medias|length > 0 and trick.medias|first.type == 'image' %}
                        {% set media = trick.medias|first %}
                     style="background-image: url({{ asset(pathMediaImage  ~ '/' ~ media.filename) }});">
                    {% else %}
                        style="background-image: url({{ asset(pathMediaImage  ~ '/' ~ 'default.jpg') }});">
                    {% endif %}
                    <div class="container">
                        <div class="row">
                            {% if is_granted('ROLE_USER') and app.user == trick.author %}
                                <div class="content-trick-image--icon offset-9 col-3 text-center p-0 offset-sm-11 col-sm-1">
                                    <div class="d-inline-block w-100">
                                        <div id="pencil" class="d-inline-block mt-2 p-1">
                                            <a href="{{ path('update_tricks', {'id': trick.id}) }}"><i
                                                        class="fa-solid
                                                         fa-pencil"></i></a>
                                        </div>
                                        <div id="trash-can" class="d-inline-block  mt-2">
                                            <a href="{{ path('update_tricks', {'id': trick.id}) }}"><i
                                                        class="fa-solid fa-trash-can"></i></a>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                        <div class="row h-100">
                            <div class="content-trick-image-title">
                                <h1 class="text-center">
                                    {{ trick.title }}
                                </h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="media-single-trick container d-none d-sm-block">
                    <div class="row">
                        {% set image_count = 0 %}
                        {% set video_count = 0 %}
                        {% for media in trick.medias %}
                            <div class="content-media-tricks col-3 w-50">
                                {% if media.type == 'image' and image_count < 3 %}
                                    {% set image_count = image_count + 1 %}
                                    <img class="w-100 h-100 w-100" src="{{ asset(pathMediaImage  ~ '/' ~ media.filename) }}"
                                         alt="{{ media.alt }}">
                                {% elseif media.type == 'video' and video_count < 2 %}
                                    <video class="w-100 col-4" controls>
                                        <source src="{{ asset(pathMediaVideo  ~ '/' ~ media.filename) }}"
                                                type="video/mp4">
                                        Votre navigateur ne prend pas en charge la balise vidéo.
                                    </video>
                                    {% set image_count = image_count + 1 %}
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                    <div class="row">
                        <div class="content-media-tricks-external col-12">
                            {% for externalVideo in trick.externalVideo %}
                                {% if externalVideo.platformId == 1 %}
                                    <iframe  class="w-100" type="text/html" height="360"
                                            src="{{ externalVideo.url }}" Access-Control-Allow-Origin>
                                    </iframe>
                                {% else %}
                                    <iframe type="text/html" src="{{ externalVideo.url }}" width="100%" height="100%"
                                            allowfullscreen title="Dailymotion Video Player" allow="autoplay"></iframe>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="text-center m-3">
                    <button type="button" class="btn btn-primary d-inline-block d-sm-none " data-bs-toggle="modal"
                            data-bs-target="#exampleModal">
                        Voir plus de media
                    </button>
                </div>
                <div class="information-widget">
                        <p>
                            {{ trick.category.name }}
                        </p>
                        <p>
                            {{ trick.creationDate|date("d/m/y/ H:i") }}
                        </p>
                        {% if trick.updateAt is not null %}
                            <p>
                                {{ trick.updateAt|date("d/m/y/ H:i") }}
                            </p>
                        {% endif %}
                </div>
                <div class="content-description">
                    <p>
                        {{ trick.content }}
                    </p>
                </div>
                <div class="container">
                    <div class="row">
                        {% if is_granted('ROLE_USER') %}
                            <div class="content-form mx-auto">
                                <div class="content-form--content w-100">
                                    {{ form_start(commentForm) }}
                                    <div class="row">
                                        <div class="col-sm-7 col-12 ">
                                            {{ form_widget(commentForm.content, {'label':false, 'attr': {'class': 'h-100 w-100 rounded-2' }}) }}
                                        </div>
                                        <div class="col-sm-5 col-12">
                                            {{ form_row(commentForm.submit, {'attr': {'class': 'w-100 rounded-1'}}) }}
                                        </div>
                                    </div>
                                    {{ form_end(commentForm) }}
                                </div>
                            </div>
                        {% else %}
                            <div class="col-12">
                                <div class="content-form">
                                    <div class="content-form--content">
                                        <p>Veuillez vous connecté pour pouvoir poster un commentaire</p>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="content-comment-container">
                    <div class="content-comment">
                        {% include 'comment/comments.html.twig' with {'comments': comments, 'trick': trick} %}
                    </div>
                        <div id="expand" class="text-center m-3">
                            {% if comments.currentPageNumber < maxPage %}
                                <button id="load-more" class="rounded-1" data-current-page="{{ comments.currentPageNumber + 1 }}"
                                        data-max-page="{{ maxPage }}"> voir plus de commentaire
                                </button>
                            {% endif %}
                        </div>
                </div>
            </div>
        </section>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="content-media-tricks-expands">
                            {% set image_count = 0 %}
                            {% set video_count = 0 %}
                            {% for media in trick.medias %}
                                {% if media.type == 'image' and image_count < 3 %}
                                    {% set image_count = image_count + 1 %}
                                    <img src="{{ asset(pathMediaImage  ~ '/' ~ media.filename) }}"
                                         alt="{{ media.alt }}" class="img-fluid mx-auto d-block">
                                {% elseif media.type == 'video' and video_count < 2 %}
                                    <video controls class="img-fluid mx-auto d-block">
                                        <source src="{{ asset(pathMediaVideo  ~ '/' ~ media.filename) }}"
                                                type="video/mp4">
                                        Votre navigateur ne prend pas en charge la balise vidéo.
                                    </video>
                                    {% set video_count = video_count + 1 %}
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="content-media-tricks-external--expand">
                            {% for externalVideo in trick.externalVideo %}
                                <iframe class="img-fluid mx-auto d-block" style="width: 100%; height: auto;" src="{{ externalVideo.url }}" frameborder="0" allowfullscreen></iframe>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </main>
    {% include 'navbar-mobile.html.twig' %}
    {{ encore_entry_script_tags('paginateComment') }}
{% endblock %}