{% extends 'layout.html.twig' %}
{% block main %}
    <main>
        {% for message in app.flashes('error') %}
            <div class="alert alert-danger">{{ message }}</div>
        {% endfor %}

        {% for message in app.flashes('success') %}
            <div class="alert alert-success">{{ message }}</div>
        {% endfor %}
        <section class="intro-background">
            <div class="intro-trick"
                 style="background-image: url({{ asset('build/images/surfeur.08d91665.jpg') }});">
            </div>
        </section>
        <section class="content">
            {{ form_start(trickForm, {'attr': {'enctype':'multipart/form-data'}}) }}
            <div id="content-trick">
                <div class="content-header mb-5">
                    <div class="content-trick-image-title w-100">
                        <h1 class="text-center fs-2 rounded-1">
                            {{ form_row(trickForm.title, { 'attr': {'class': 'form-control'}}) }}
                        </h1>
                    </div>
                </div>
                <div class="container" data-index="0">
                    <div class="row justify-content-around">
                        <div class="addMedia col-auto">
                            <button type="button" class="btn btn-light add_item_media m-2"
                                    data-collection-holder-class="media">
                                Ajouter un média
                            </button>
                        </div>
                        <div class="addExternalMedia col-auto">
                            <button type="button" class="btn btn-light add_item__external_media m-2"
                                    data-collection-holder-class="externalMedia">
                                Ajouter un lien média externe
                            </button>
                            <p>
                                {{ form_row(trickForm.externalVideo, {'attr': {'class': 'form-control'}}) }}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="content-media">
                    <div class="media-tricks--modifier">
                        <div class="media-tricks-modifier-content">
                            <div>
                                {{ form_row(trickForm.medias, { 'attr': {'class': 'form-control-file'}}) }}
                            </div>
                            <img id="imagePreview" src="#" alt="Show adding image  or video"
                                 style="display: none; max-width: 200px; height: auto;" class="img-fluid"/>
                            <video controls id="videoPreview" style="display: none; max-width: 200px; height: auto;"
                                   class="img-fluid">
                                <source src="#"/>
                            </video>
                        </div>
                    </div>
                </div>
                <div class="text-center m-3">
                    <button type="button" class="btn btn-primary d-inline-block d-sm-none " data-bs-toggle="modal"
                            data-bs-target="#exampleModal">
                        Voir plus de media
                    </button>
                </div>
                <div class="content-intro mx-auto w-50">
                    <p>
                        {{ form_row(trickForm.intro, { 'attr': {'class': 'form-control'}}) }}
                    </p>
                </div>
                <div class="information-content mb-5">
                    <div class="content-description-scroll w-50">
                        <p>
                            {{ form_row(trickForm.content, {'attr': {'class': 'form-control'}}) }}
                        </p>
                    </div>
                    <div class="information-actions container">
                        <div class="select-group row mb-5">
                            <div class="content-category m-5 w-25" data-index="0">
                                {{ form_row(trickForm.category, { 'attr': {'class': 'form-control w'}}) }}
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="button-action">
                            <div class="d-flex justify-content-center gap-2">
                                <div class="save w-100">
                                    <button type="submit" class="btn btn-success">Sauvegarder</button>
                                </div>
                                {{ form_end(trickForm) }}
                                <form action="{{ path('delete_trick', {'id': trick.id}) }}" method="POST">
                                    <div class="delete me-2">
                                        <button type="submit" class="btn btn-danger btn-group-sm">Supprimer</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        {% include 'navbar-mobile.html.twig' %}
    </main>
    {% block javascripts %}
        {{ encore_entry_script_tags('preview') }}
        {{ encore_entry_script_tags('externalMedia') }}
    {% endblock %}
{% endblock %}
