{% extends 'layout.html.twig' %}
{% block main %}
    <main class="connection">
        <div class="connection-title">
            <div class="connection-title-content">
                Inscription
            </div>
        </div>
        <section class="connection-form">
            {{ form_start(registration, {'attr': {'class': 'connection-content'}}) }}
            <div id="user_name">
                {{ form_row(registration.userName, {'attr': {'id': 'Username'}}) }}
            </div>
            <div id="email">
                {{ form_row(registration.email, {'attr': {'id': 'email'}}) }}
            </div>
            <div id="user_password">
                {{ form_row(registration.password, {'attr': {'id': 'userPassword'}}) }}
            </div>
            <div class="button">
                <button type="submit">Créer un compte</button>
            </div>
            <div class="link-login"><a href="/single_trick">Déjà un compte ?</a></div>
            {{ form_rest(registration) }}
            {{ form_end(registration) }}
        </section>
    </main>
    {% include 'navbar-mobile.html.twig' %}
{% endblock %}
